extends blocks/common.blocks/common/template.pug

block variables
	- title="Musicon homepage"

block content
	section(id="first" class="first")
		include blocks/common.blocks/header/header.pug
		include blocks/common.blocks/content/content.pug

	script(src="js/jquery-3.3.1.min.js")
	script(src="js/parallax-mouse.js")