// common.blocks

// block common
@import "blocks/common.blocks/common/colors";
@import "blocks/common.blocks/common/main";
// block first
@import "blocks/common.blocks/first/first";
// block header
@import "blocks/common.blocks/header/header";
@import "blocks/common.blocks/header/__container/header__container";
// block content
@import "blocks/common.blocks/content/content";
@import "blocks/common.blocks/content/__container/content__container";