.header__container {
	width: 87%;
	margin: 0 auto;
	position: relative;
	height: 100%;
}
.container__logo {
}
.container__menu {
	margin-left: 235px;
}
.menu__item {
	margin-right: 48px;
}
.menu__item a {
	font-weight: 300;
	font-style: 13px;
}
.menu__item a:hover {
	color: #23aab2;
}
.container__auth {
	margin-left: auto;
}
.auth__info {
	margin-left: 15px;
}
.auth__profile {
	font-size: 8px;
	color: #b2b2b2;	
	margin-bottom: 3px;
}
.auth__name {
	font-size: 10px;
	margin: 0;
}
.auth__img {
	border: 1px solid #404040;
	border-radius: 50%;
	width: 57px;
	height: 57px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.auth__play {
	display: block;
	background: #353535;
	width: 27px;
	height: 27px;
	border-radius: 50%;
	text-align: center;
	line-height: 27px;
	margin-left: 21px;
}

.auth__more {
	background: transparent url(img/arrow.png) no-repeat;
	width: 5px;
	height: 6px;
	border: none;
	display: block;
	transform: rotate(180deg);
	margin-left: 14px;
}