.content
	div(class="content__container d-flex")
		div(class="container__offer d-flex justify-content-center align-items-center")
			.offer__body
				h1.offer__title
					| take your lovely music
					span.offer__word
						span
							.offer__word-black-box
							| anywhere
				div(class="offer__btns d-flex")
					a(href="#" class="offer__btn btn-round")
						| THIS WEEK TOP#10
					a(href="#" class="offer__btn btn-round")
						| HOT CLIPS TOP#20
					a(href="#" class="offer__btn btn-round")
						| CREATORS CHOICE
				a(href="#" class="offer__cta btn")
					| Learn more
		.container__slider
			.slider__ellips
			.slider__lines-dot
			.slider__plus-yellow
			.slider__rnb-man
			.slider__plus-dots
			.slider__triangles
			.slider__line-wave