.content {
	height: 80vh;
}
.content:before {
	content: '';
	display: block;
	background: url(./img/light1.png);
	width: 1009px;
	height: 979px;
	position: absolute;
	right: 0;
	top: 3vh;
}
.content:after {
	content: '';
	display: block;
	background: url(./img/light2.png);
	width: 1190px;
	height: 1080px;
	position: absolute;
	right: 0;
	top: -14vh;
	z-index: 1;
}