.content
	div(class="content__container d-flex")
		.container__offer
			.offer__body
				h1.offer__title
					| take your lovely music
					span.offer__word
						span
							.offer__word-black-box
							| anywhere
		.container__slider